.image {
  width: 200px;
  height: 200px;
  margin: 60px 0px 32px;
  align-self: center;
}

.text {
  width: 358px;
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 0 60px;
  align-self: center;
}

@media screen and (max-width: 550px) {
  .image {
    width: 120px;
    height: 120px;
    margin: 50px 0px 40px;
  }

  .text {
    width: 244px;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 50px;
  }
}
